body {
    font-family: Arial, Helvetica, sans-serif;
}
.cont{
    width: 30%;
    height: 20%;
    padding-top: 220px;
    padding-bottom: 30px;
    padding-left: 450px;
}
.cont h1{
    color: #E6DB74;
    background-color: #323234;
    text-align: center;
}
.cont a{
    color: #ABB1BA;
    background-color: #323234;
    text-align: center;
}